.App-Grid-Wrapper {
    position: absolute;
    top: 28%;
    height: 37%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.App-Grid {
    width: 90%;
    height: initial;
    display: grid;
    justify-content: center;

    grid-template-columns: repeat(4, 22.5%);
    grid-template-rows: repeat(4, 22.5%);
    grid-column-gap: 11px;
    grid-row-gap: 20px;
}

.App-Chin-Wrapper {
    height: 11%;
    width: 90%;

    background-color: #00000044;
    border-radius: var(--border-rad-xlarge);
    backdrop-filter: blur(1px);

    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    margin: 5%;
}

.App-Chin-Wrapper:before {
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
}


.App-Chin-Grid {
    height: initial;
    width: 90%;

    display: grid;
    align-content: center;
    justify-content: center;
    margin: 2vh;

    grid-template-columns: repeat(4, 22.5%);
    grid-template-rows: 22.5%;
    grid-column-gap: 11px;
}

.App-Grid>.App {
    width: 95%;
    aspect-ratio: 1/1;

    align-self: center;
    justify-self: center;

    background-image: none;
    background-color: #ffffff;
    border-radius: 20%;
    transition: 0.15s ease-out;
    z-index: 1;

    background-size: 110%;
    background-position: center;
}

.App {
    z-index: 2;
    display: flex;
    background-size: contain;
}

.App:hover {
    width: 100%;
}

.App>a {
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
}

.App-card {
    display: flex;
    background-size: contain;
    position: relative;
    z-index: 3;

    filter: drop-shadow(0px 0px 0.25vw #00000061);
}

.App-card-content {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.05), transparent);
    border-radius: 15px;
    height: 100%;
    width: 100%;

    position: absolute;
    display: flex;
    justify-content: center;
}

.App-card-content-items {
    display: flex;
    bottom: -15.5px;
    flex-direction: column;
    position: absolute;
}

.App-card-content-items>span {
    position: relative;
    transition: bottom 250ms, color 250ms;
    color: transparent;
    text-align: center;
    pointer-events: none;
}

.App-card:hover>.App-card-content>.App-card-content-items>span {
    color: white;
    font-weight: 500;
    font-size: 11px;
}

.App-card-ping {
    position: absolute;
    bottom: -5px;
    right: -5px;
    display: flex;
    background: #f61111;
    color: white;
    font-size: 12px;
    font-weight: 800;
    height: 20px;
    width: fit-content;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    padding: 0 6px;
}

.Info-Background {
    transition: scale 150ms, border-radius 150ms, opacity 150ms;
    scale: 0.5;
    border-radius: 100%;
    opacity: 0;
}

.transitioning-app {
    border-radius: 0 !important;
    scale: 1 !important;
    opacity: 1 !important;
}

.closing-app {
    transition: scale 75ms, border-radius 75ms, opacity 75ms;
    border-radius: 0 !important;
    scale: 1 !important;
    opacity: 0 !important;
}