:root {
    --app-color-scheme-custom-1: #9e7992;
    --app-color-scheme-custom-2: #685858;
    --app-color-scheme-custom-font-1: #ff8cae;
    --app-color-scheme-custom-font-2: #e5c0dc;

    --app-color-tracker-1: white;
    --app-color-tracker-2: #252525;
    --app-color-tracker-3: #737373;
    --app-color-cal-bg-1: #e4e4e4;
    --app-color-cal-bg-2: #ffe868;
    --app-color-tracker-bg-3: #0006;
    --app-color-tracker-font-1: #ffffff;
    --app-color-tracker-font-2: #ffffff;
    --app-color-tracker-yes: #59ff82;
    --app-color-tracker-no: red;

    --app-height: 100vh;
    --app-width: 100vw;
}

h1 {
    margin: 0;

    font-size: 16px;
    font-weight: normal;

    color: var(--app-color-tracker-font-1);
}

h2 {
    margin: 0;

    font-size: 12px;
    font-weight: normal;

    color: var(--app-color-tracker-font-2);
}

.tracker-h3 {
    text-align: center;
    font-size: 16px;
    margin: 0;
    color: var(--app-color-tracker-font-1);
}

.tracker-h4 {
    text-align: center;
    font-size: 14px;
    margin: 0;
    color: var(--app-color-tracker-font-1);
}

.contact-h2 {
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.contact-h2-sid {
    font-size: 12px;
    font-weight: 400;
    color: black;
    font-style: italic;
}

i {
    position: relative;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.underline {
    text-decoration: underline var(--app-color-tracker-1);
}

.transparent {
    color: transparent;
}

span,
i,
.font1 {
    color: var(--app-color-tracker-font-1)
}

.font2 {
    color: var(--app-color-tracker-font-2)
}

.Info-Background {
    position: absolute;
    height: 100%;
    width: 100%;

    background: var(--app-color-cal-bg-1);

    z-index: 3;

    scale: 0.5;
    border-radius: 100%;
    opacity: 0;
}

.LL-Page {
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 2%;
    z-index: 2;
}

.I-Title-Wrapper {
    position: relative;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 83%;
    height: 8%;

    background-color: #0006;
    border-radius: 5px;
    margin-top: 10px;
}

.I-Main-Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.5vh;
}

.t-titlecard-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    aspect-ratio: 1 / 1;

    background-color: transparent;
    transition: background-color 200ms;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    padding-right: 2px;
}

.t-titlecard-button i {
    transition-duration: 0.2s
}
.t-titlecard-button:hover i {
    transform: rotateZ(30deg);
}

.tab-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100%;
    bottom: 0;
    align-items: center;
}

.pages-wrapper {
    position: absolute;
    display: grid;
    width: 200%;
    height: 81%;

    grid-template-columns: 1fr 1fr;
    transition: left 0.2s;
    left: 0;
    bottom: 0;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    position: relative;
    align-items: center;
    bottom: 0;
}

.contact {
    display: flex;
    flex-direction: row;
    gap: 8px;
    height: fit-content;
    width: 90%;
    background-color: var(--app-color-tracker-1);
    border-radius: 30px 5px 5px 30px;
    align-items: center;
    padding: 6px 0 6px 6px;
    margin-top: 10px;

    box-shadow: 1px 4px 12px 0 rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 4px 12px 0 rgb(0 0 0 / 36%);
    -moz-box-shadow: 1px 4px 12px 0 rgba(0,0,0,0.75);
}

.contact-img {
    width: 4vh;
    height: 4vh;
    border-radius: 3vh;
    background-image: url(https://static.onx.gg/phone-avatar/4907bde3-2c0d-4b07-bfa3-e0b7534a1904.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.t-delete-entry {
    display: flex;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;

    pointer-events: all;
    cursor: pointer;
}

.t-i-delete-entry {
    font-size: 20px;
    transition: color 125ms;
    color: transparent;

}

.t-delete-entry:hover > .t-i-delete-entry {
    color: var(--app-color-tracker-no);
}


.i-contact {
    font-size: 20px;
    color: var(--app-color-tracker-3);
    cursor: pointer;
}

.i-contact:hover {
    color: var(--app-color-cal-bg-2);
    text-shadow: 0 0 4px rgba(0, 0, 0, 1);
}

.i-contact-cross:hover {
    color: var(--app-color-tracker-no);
    cursor: pointer;
}

.custom_input {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 100%;
}

.input {
    font-size: 14px;
    padding: 0.75vh 1vw;
    width: 100%;
    outline: none;
    background: #00000054;
    color: #fff;
    border: 0.2vh solid #000;
    border-radius: 0.5vh;
    box-shadow: 0 0.3vh 0.2vh 0 #0000006b;
    transition: .1s ease;
    text-align: center;
}

.input:focus {
    background: #0000004A;
    border: 0.2vh solid #000;
    border-radius: 0.75vh;
    color: white;
}

.input::placeholder {
    color: #ffffff;
}

.input:focus::placeholder {
    color: transparent;
}

.svg_icon {
    position: absolute;
    left: 10px;
    fill: #000000;
    width: 18px;
    height: 18px;
}

.tracker-wrapper {
    position: absolute;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 19%;

    background-color: var(--app-color-tracker-2);
    top: 0;
    z-index: 1;

    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.tracker-grid {
    position: relative;
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;

    height: 35px;
    width: 100%;
    bottom: 0;
}

.tracker-grid-entry {
    position: relative;
    display: flex;
    height: 100%;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    cursor: pointer;
}

.tracker-grid-entry:hover {
    background-color: #ffffff17;
}

.tracker-active {
    background-color: #ffffff17;
}

.track-notif-ping-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;

    width: 100%;
    height: 2.25vh;
    bottom: 7.5%;
}

.track-notif-ping {
    display: flex;
    position: relative;
    width: 38%;
    height: 100%;
    
    text-align: center;
    align-items: center;
    justify-content: center;
    
    background: var(--app-color-cal-bg-2);
    color: var(--app-color-tracker-2);
    border-radius: 30px;

    font-size: 12px;
    font-weight: 900;

    transition: all .1s;
    top: 0;
    filter: opacity(0);
}

.track-notif-ping-active {
    filter: opacity(1);
    box-shadow: 1px 4px 12px 0 rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 4px 12px 0 rgb(0 0 0 / 36%);
    -moz-box-shadow: 1px 4px 12px 0 rgba(0,0,0,0.75);
}

.highlight {
    height: 100%;
    width: 51%;
    position: relative;
    background-color: #ffffff17;
    transition: 0.25s all;
    transform: translateY(-100%) translateX(100%);
}