:root {
    --app-background-color: #1e1e1e;

    --app-color-scheme-0: #1B1C14;
    --app-color-scheme-1: #00FDB8;

    --app-color-scheme-custom-1: #5aff97;
    --app-color-scheme-custom-2: #4ecf7f;
    --app-color-scheme-custom-font-1: #ffffff;
    --app-color-scheme-custom-font-2: #e2e2e2;

    --border-rad-small: 3px;
    --border-rad-medium: 5px;
    --border-rad-large: 10px;
    --border-rad-xlarge: 25px;

    --app-height: 100vh;
    --app-width: 100vw;

    --blur: 1rem;
}

html {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15;
    width: 100vw;
}

body {
    background-color: #00ff00;
    color: #fff;
    font-family: "Nunito Sans", sans-serif;
    font-size: 11px;
    height: 100vh;
    width: 100vw;
    margin: 0;
    user-select: none;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

h1,
h2,
span,
i,
.font1 {
    user-select: text;
    color: var(--app-color-scheme-custom-font-1)
}

.font2 {
    color: var(--app-color-scheme-custom-font-2)
}

.Phone-Wrapper {
    display: flex;
    width: 296px;
    height: 652px;

    background-image: url('../Images/wallpaper2.png');
    background-position: center;
    background-size: cover;
    border-radius: 35px;

    overflow: clip;
}

.Phone-Overlay {
    background-image: url(../Images/borderfix.png);
    display: flex;
    width: 315px;
    height: 665px;

    background-size: cover;
    background-repeat: round;
    position: absolute;
    pointer-events: none;

    z-index: 10;
}

.Phone-Divider {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
}

.Camera-Notch {
    width: 100%;
    height: 7.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    backdrop-filter: brightness(0.8) grayscale(0.1) blur(1px);
    box-shadow: 0 -1.1vh 1vh 0.5vh #0000006e;
    z-index: 4;
}

.Camera-Notch>.Notch {
    background-color: rgb(0, 0, 0);
    border-radius: var(--border-rad-xlarge);
    width: 38%;
    height: 55%;
    position: relative;
}

.Home-Notch {
    z-index: 5;
    width: 100%;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.36) 0%, rgba(0, 212, 255, 0) 100%);
    pointer-events: none;
}

.Home-Notch>.Notch {
    display: flex;
    background-color: white;
    filter: drop-shadow(0px 0px 0.25vw #ffffff00);

    border-radius: var(--border-rad-large);
    width: 38%;
    height: 5px;
    position: relative;
    transition: 0.15s;
    pointer-events: auto;
    cursor: pointer;
}

.Home-Notch>.Notch:hover {
    background-color: white;
    filter: drop-shadow(0px 0px 0.25vw rgba(255, 255, 255, 0.3));
    scale: 1.1;
}

.Life-Bar {
    position: absolute;
    display: flex;
    align-items: center;

    font-size: 14px;

    width: 100%;
    height: 7.5%;

    gap: 0.6vw;
    z-index: 5;
}

.Life-Bar-Buttons-Wrapper {
    position: absolute;
    display: flex;

    margin: 0 14px;
    gap: 10px;
    right: 0;

    justify-content: center;
}

.Life-Bar-Notif {
    position: absolute;
    width: 90%;
    height: 0.5vh;
    bottom: -1.3vh;

    background: #ffffff9e;
    border-radius: var(--border-rad-small);
    cursor: pointer;

    transition: all 0.2s;
}

.Life-Bar-Notif:hover {
    background: white;
    width: 95%;
}

.G-Logo {
    position: absolute;
    background-image: url("../Images/logo-white.png");
    width: 300px;
    height: 488px;
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(0.65) translateX(-2%);
    filter: opacity(0.05);
    top: 14.5%;
}

.G-Header-Wrapper {
    display: flex;
    position: absolute;
    width: 100%;
    height: 95px;
    background: white;
    top: 0;
    box-shadow: 0 0 8px black;
    z-index: 3;
}

.G-Header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    position: absolute;
    height: 45px;
    width: 100%;
    bottom: 0;

    justify-items: center;
    align-items: center;
}

.G-Header > i {
    display: flex;
    color: rgb(255 255 255);
    width: 26px;
    height: 26px;
    font-size: 22px;
    cursor: pointer;
}

.G-Header > :first-child {
    justify-self: start;
    margin-left: 8px;
}

.G-Button {
    font-size: 16px;
    opacity: 1;
    cursor: pointer;
}

.G-Button:hover {
    opacity: 0.8;
}

.G-Button:active {
    opacity: 0.6;
}

.G-Styled-Button {
    display: flex;
    position: absolute;
    left: 14px;
    top: 62px;

    cursor: pointer;
    z-index: 3;
}

.G-Styled-Button:hover {
    transition: all 0.1s;
    transform: scaleX(125%);
    filter: brightness(80%);
}

.G-Styled-Button:active {
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.33);
    filter: brightness(100%);
    transform: scaleX(125%) scaleY(-100%);
}

.G-Header-Button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    aspect-ratio: 1 / 1;

    background-color: transparent;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.1s;
}

.G-Header-Button:hover {
    background-color: #ffffff13;
}

.G-Header-Button:active {
    background-color: rgba(0, 0, 0, 0.07);
}