:root {
    --app-background-color: #1e1e1e;

    --app-color-scheme-0: #1B1C14;
    --app-color-scheme-1: #00FDB8;

    --app-color-scheme-custom-1: #5aff97;
    --app-color-scheme-custom-2: #4ecf7f;
    --app-color-scheme-custom-font-1: #ffffff;
    --app-color-scheme-custom-font-2: #e2e2e2;

    --app-color-lemonlist-bg: #1e1e1e;
    --app-color-lemonlist-bg-2: #272727;
    --app-color-lemonlist-1: #E9C430;
    --app-color-lemonlist-font-1: #f0f0f0;
    --app-color-lemonlist-font-2: rgb(215, 215, 215);

    --border-rad-small: 3px;
    --border-rad-medium: 5px;
    --border-rad-large: 10px;
    --border-rad-xlarge: 25px;

    --app-height: 100vh;
    --app-width: 100vw;

    --blur: 1rem;
}

html {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15;
    width: 100vw;
}

body {
    background-color: #00ff00;
    color: #fff;
    font-family: "Nunito Sans", sans-serif;
    font-size: 11px;
    height: 100vh;
    width: 100vw;
    margin: 0;
    user-select: none;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

h1,
h2,
span,
i,
.font1 {
    color: var(--app-color-scheme-custom-font-1)
}

.font2 {
    color: var(--app-color-scheme-custom-font-2)
}

.Phone-Wrapper {
    display: flex;
    width: 296px;
    height: 652px;
    /*aspect-ratio: 1 / 2.25;*/

    /*background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA5L3Jhd3BpeGVsX29mZmljZV8zM193YWxscGFwZXJfb2ZfY2xvdWRzX2dyYWRpZW50X2dsaXR0ZXJfb25fc2ltcF8zNzFmOGU1Zi1jZTM2LTRjNjctOWMyZC1lMWZkZTI1YmEwM2ZfMS5qcGc.jpg);*/
    background-image: url(../Images/background.png);
    background-position: center;
    background-size: cover;
    border-radius: 35px;

    overflow: clip;
}

.Phone-Overlay {
    background-image: url(../Images/borderfix.png);
    display: flex;
    width: 315px;
    height: 665px;
    /*aspect-ratio: 1 / 2.18;*/

    background-size: cover;
    background-repeat: round;
    position: absolute;
    pointer-events: none;

    z-index: 10;
}

.Phone-Divider {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
}

.Camera-Notch {
    width: 100%;
    height: 7.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    backdrop-filter: brightness(0.75) grayscale(0.1);
    box-shadow: 0 -1.1vh 1vh 0.5vh #0000006e;
    z-index: 4;
}

.Camera-Notch>.Notch {
    background-color: rgb(0, 0, 0);
    border-radius: var(--border-rad-xlarge);
    width: 38%;
    height: 55%;
    position: relative;
}

.Home-Notch {
    z-index: 5;
    width: 100%;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.36) 0%, rgba(0, 212, 255, 0) 100%);
    pointer-events: none;
}

.Home-Notch>.Notch {
    display: flex;
    background-color: white;
    filter: drop-shadow(0px 0px 0.25vw #ffffff00);

    border-radius: var(--border-rad-large);
    width: 38%;
    height: 5px;
    position: relative;
    transition: 0.15s;
    pointer-events: auto;
    cursor: pointer;
}

.Home-Notch>.Notch:hover {
    background-color: white;
    filter: drop-shadow(0px 0px 0.25vw rgba(255, 255, 255, 0.3));
    scale: 1.1;
}

.Life-Bar {
    position: absolute;
    display: flex;
    align-items: center;

    font-size: 14px;

    width: 100%;
    height: 7.5%;

    gap: 0.6vw;
    z-index: 5;
}

.Life-Bar-Buttons-Wrapper {
    position: absolute;
    display: flex;
    
    margin: 0 14px;
    gap: 10px;
    right: 0;
    
    justify-content: center;
}

.Life-Bar-Notif {
    position: absolute;
    width: 90%;
    height: 0.5vh;
    bottom: -1.3vh;
    
    background: #ffffff9e;
    border-radius: var(--border-rad-small);
    cursor: pointer;
    
    transition: all 0.2s;
}

.Life-Bar-Notif:hover {
    background: white;
    width: 95%;
}

.App-Grid-Wrapper {
    position: absolute;
    top: 28%;
    height: 37%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.App-Grid {
    width: 90%;
    height: initial;
    display: grid;
    justify-content: center;

    grid-template-columns: repeat(4, 22.5%);
    grid-template-rows: repeat(4, 22.5%);
    grid-column-gap: 11px;
    grid-row-gap: 20px;
}

.App-Chin-Wrapper {
    height: 11%;
    width: 90%;

    background-color: #7d7d7d44;
    border-radius: var(--border-rad-large);

    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    margin: 5%;
}

.App-Chin-Wrapper:before {
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
}


.App-Chin-Grid {
    height: initial;
    width: 90%;

    display: grid;
    align-content: center;
    justify-content: center;
    margin: 2vh;

    grid-template-columns: repeat(4, 22.5%);
    grid-template-rows: 22.5%;
    grid-column-gap: 11px;
}

.App-Grid>.App {
    width: 95%;
    aspect-ratio: 1/1;

    align-self: center;
    justify-self: center;

    background-image: none;
    background-color: #ffffff;
    border-radius: 20%;
    transition: 0.3s;
    z-index: 1;

    background-size: 110%;
    background-position: center;
}

.App {
    z-index: 2;
    display: flex;
    background-size: contain;
}

.App:hover {
    width: 100%;
}

.App>a {
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
}

.App-card {
    display: flex;
    background-size: contain;
    position: relative;
    z-index: 3;

    filter: drop-shadow(0px 0px 0.25vw #00000061);
}

.App-card-content {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.05), transparent);
    border-radius: 15px;
    height: 100%;
    width: 100%;

    position: absolute;
    display: flex;
    justify-content: center;
}

.App-card-content-items {
    display: flex;
    bottom: -15.5px;
    flex-direction: column;
    position: absolute;
}

.App-card-content-items>span {
    position: relative;
    transition: bottom 250ms, color 250ms;
    color: transparent;
    text-align: center;
    pointer-events: none;
}

.App-card:hover>.App-card-content>.App-card-content-items>span {
    color: white;
    font-weight: 500;
    font-size: 11px;
}

.App-card-ping {
    position: absolute;
    bottom: -5px;
    right: -5px;
    display: flex;
    background: #f61111;
    color: white;
    font-size: 12px;
    font-weight: 800;
    height: 20px;
    width: fit-content;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    padding: 0 6px;
}

.Info-Background {
    transition: scale 150ms, border-radius 150ms, opacity 150ms;
    scale: 0.5;
    border-radius: 100%;
    opacity: 0;
}

.transitioning-app {
    border-radius: 0 !important;
    scale: 1 !important;
    opacity: 1 !important;
}

.closing-app {
    transition: scale 75ms, border-radius 75ms, opacity 75ms;
    border-radius: 0 !important;
    scale: 1 !important;
    opacity: 0 !important;
}